<nav>
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/api"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Api Page</a
      >
    </li>
    <li>
      <a
        routerLink="/form"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >form</a
      >
    </li>
  </ul>
  <router-outlet></router-outlet>
</nav>
